<html>
<head> 
<title> ToDo App </title>
 <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
 <link href="/styles.css" rel="stylesheet">
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
</head>

<body>
    <nav>
        <a style="color: aliceblue" href="http://localhost:3000/logout"><button>Logout</button></a>
    </nav>
<div class="container">
<h2 style="font-size: 230% ; margin-left:4.5%"> A Simple ToDo List App </h2>


<form action ="/addtask" method="POST">

<input style="margin-left: 10px; font-size: larger;" type="text" name="newtask" placeholder="add new task">
<button> Add Task </button>


<h2 style="margin-left: 1%; font-size: 192%;"> Current Tasks(not completed) </h2>

<% for( var i = 0; i < task.length; i++){ %>
    <ul><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </ul>
<% } %>

<button style="margin-top: 1%; margin-left: 2%;" formaction="/removetask" type="submit" id="top"> Complete Task </button>
</form>

<h2 style="margin-left: 2%"> Completed Tasks </h2>

 <% for(var i = 0; i < complete.length; i++){ %>
    <ul style="margin-bottom: 3%; text-decoration: line-through;"><input type="checkbox" checked><%= complete[i] %> </ul>
<% } %>

</div>

</body>
</html>
